body {
    .btn-outline-success
{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-edit,
.btn-delete {
    transition: all 0.3s ease;
}

    .btn-edit:hover {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-delete:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

}
